useDynLib(hyperstrat)
export(stratify,
       multistrat,
       collapsestrats,
       collapsematrices,
       findGroupN,
       parmultistrat,
       comparestrats,
       mi,
       generate,
       teststrat,
       optimizeColOrder)
